{% extends 'core/base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-3.jpg' %}{% endblock %}

{% block headers %}
<h1>NSQK</h1>
<span class="subheading">"Construyendo paisajes sonoros y visuales"</span>
<p>Explora la esencia de NSQK, un artista mexicano que combina letras íntimas con sonidos electrónicos y alternativos. Su música refleja experiencias personales, introspección y emociones que conectan con su audiencia. Bienvenido al mundo detrás de las melodías.</p>
{% endblock %}
